<%= provide(:title, "SnoozyPost | Home") %>
<% if current_user %>
<%= current_user.full_name %>
<%= current_user.email %>
<%= link_to 'Logout',  destroy_user_session_path, method: :delete %>
<% if !current_user.facebook_app.empty? %>
<% fbapp = Koala::Facebook::API.new(current_user.facebook_app.first.access_token) %>
<% s = OpenStruct.new(fbapp.get_object('me')) %>
<!-- <p><a href = https://www.facebook.com/app_scoped_user_id/#{current_user.facebook_app.uid}><%= s.name %></a></p> -->
<%= simple_form_for @post do |f| %>
  <%= f.input :content %>
  <%= f.input :image, as: :file %>
  <%= f.simple_fields_for :socialposts do |sp| %>
    <%= sp.association :installed_app, as: :radio_buttons, collection: current_user.installed_apps %>
  <% end %>
  <%= f.submit %>
<% end %>
<% end %>
<% end %>