<%= provide(:title, "Myspace : Home") %>
<% if current_user %>
<%= current_user.name %>
<%= current_user.email %>
<%= link_to 'Logout',  logout_path, method: :delete %>
<% if !current_user.installed_apps.empty? %>
<% fbapp = Koala::Facebook::API.new(current_user.installed_apps.first.access_token) %>
<% s = OpenStruct.new(fbapp.get_object('me')) %>
<% Rails.logger.debug s %>
<p><a href = https://www.facebook.com/app_scoped_user_id/10206572390010656><%= s.name %></a></p>
<%= form_for @post, :url => '/post', :html => {:method => :post} do |f| %>
<%= f.label :content %>
<%= f.text_area :content %>
<%= f.submit %>
<% end %>
<% end %>
<% else %>
<%= link_to 'SignUp',  new_user_path  %>
<%= link_to 'Login', login_path%>
<% end %>